@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';vertical-align:baseline;background:transparent;list-style:none;}
body {line-height:1;-webkit-text-size-adjust:none;color:#4d4d4d;font-size:12px;letter-spacing:-1px;} 
fieldset, img, abbr, acronym {border:0;} 
ol, ul {list-style:none;}
table {table-layout:fixed; border-collapse:collapse; border-spacing:0; border:0;} 
legend, caption {font-size:0; overflow:hidden; text-indent:-9999999px; height:0; width:0; line-height:0;} 
td,th {word-break:break-all}
ins {text-decoration:none;}
del {text-decoration:line-through;}
sub, sup {margin:0; padding:0;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote,q {quotes:"" "";}
hr {overflow:hidden;position:absolute;left:-9999em;top:0;width:0;height:0;font-size:0;line-height:0;}
input {vertical-align:middle;}
select {min-width:100px; padding:7px 5px 5px; border:1px solid #e5e5e5; border-radius:0 !important; background:#fff !important; font-size:12px; color:#333;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';vertical-align:middle;}
.ie10 select {padding:5px 5px 7px; height:30px; line-height:30px;}

textarea {padding:1%; border:1px solid #e5e5e5;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';color:#4d4d4d; resize:none;}    
em {font-style:normal;}
a, a:link, a:visited, a:active {text-decoration:none; color:#4d4d4d;}
a:hover {text-decoration:none;color:#ff6600;}

input[type="button"], button {margin:0; padding:0; border:0; border-radius:0 !important; -webkit-border-radius:1px !important; -webkit-appearance:none !important; cursor:pointer;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';} 
button, input[type="reset"], input[type="button"], input[type="submit"] {line-height:normal; border:none;}

input[type="text"]::-ms-clear {display:none !important;}
input[type="text"],
input[type="password"],
input[type="tel"] {line-height:1; height:15px; padding:6px 0 7px; border:1px solid #e5e5e5; border-radius:0 !important; -webkit-appearance:none !important; background:#fff;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';font-size:12px; color:#4d4d4d; text-indent:10px !important; outline:none;}
.ie7 input[type="text"], .ie7 input[type="password"], .ie7 input[type="tel"] {text-indent:0 !important;}
.ie8 input[type="text"], .ie8 input[type="password"], .ie8 input[type="tel"] {padding:8px 0 5px;}
input[type="file"] {line-height:1; padding:6px 10px 7px; border:1px solid #e5e5e5; background:#fff;font-family:'Malgun Gothic','맑은 고딕',"Myriad Pro",Arial,'Sans Serif';font-size:12px; color:#4d4d4d; cursor:pointer;}
.ie9 input[type="file"], .ie10 input[type="file"], .ie11 input[type="file"] {padding:6px 0 7px; border:none;}

input[type="checkbox"],
input[type="radio"] {margin:0 6px 0 0; padding:0;}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {color:#c8212f !important;} 
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {color:#999 !important;} 

input:disabled, input:readonly {background:#f1f1f1;}
input[readonly="readonly"], input[readonly],
input[disabled="disabled"], input[disabled] {line-height:15px !important; height:15px !important; border:1px solid #e5e5e5; background:#f1f1f1; color:#4d4d4d; text-indent:10px !important;}
select[disabled] {border:1px solid #e5e5e5; background:#f1f1f1; color:#4d4d4d;}